.welcome {
    justify-content: center;
    color: blue;
    border: blueviolet;
    align-self: center;
}

.unsortedbox {
display: flex;
flex-direction: row;
border-style: solid;
border-width: 4px;
border-color: black;
background-color: gray;
padding-top: 20px;
padding-bottom: 20px;
}

.unsortedNum {
margin: auto;
} 

.sortbutton {
    margin-top: 35px;
    background-color: green;
    height: 5%;
    width: 5%;
    border-style: solid;
    border-color: black;
    border-radius: 25%;
}
.sortedNum {
    margin: auto;
}

